// -------------------------------------------------
//
// Vars
// 
// -------------------------------------------------
$red: #ff0400;
$pink: #ffb7ff;
$blue: #2303ec;
$purple: #591ae5;

$background: $pink;
$text: rgba(40,0,215,1);
$background: white;
