// -------------------------------------------------
//
// Vars
// 
// -------------------------------------------------
$red: #ff0400;
$pink: #ed302e;
$blue: #2303ec;
$purple: #591ae5;

$background: $pink;
$text: black;
$background: white;
$lightblue: rgba(255,255,255,1);

$border: 2px solid black;