// -------------------------------------------------
//
// Vars
// 
// -------------------------------------------------
$red: #ff0400;
$pink: #ed302e;
$blue: #2303ec;
$purple: #591ae5;

$background: $pink;
$text: black;
$background: white;

$border: 2px solid black;