@include keyframes(colorz){
	from{
		background-color: rgba(0,0,255,0.5);
	}
	to{
		background-color: rgba(255,0,0,0.5);
	}
}

.container{
	.loader{
		z-index: 7;
		width: 100%;
		height: 100vh;
		background: $blue;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
		@include transition(opacity 0.5s linear);
		&:after{
			content: 'LOADING';
			color: white;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			width: 100%;
			height: 100%;
			font-family: 'SFPlanetaryOrbiter';
			font-size: 3em;
		}
		&.gone{
			opacity: 0;
		}
	}
	.title-canvas{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../images/tile.png) repeat top left;
		overflow: hidden;
		cursor: pointer;
		canvas{
			border: 10px solid black;
		}
		.title-text{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 90%;
			z-index: 6;
			bottom: 50px;
			@include display(flex);
			@include align-items(center);
			@include justify-content(flex-end);
			@include flex-direction(column);
			text-align: center;
			cursor: pointer;
			//@include animation(colorz 5s linear infinite alternate);
			h1{
				font-size: 5em;
				letter-spacing: 30px;
				@include uppercase();
				color: $pink;
				@include user-select(none);
				text-shadow: 4px 5px 5px black;
			}
			h2{
				//font-family: 'maison';
				color: $pink;
				@include uppercase();
				font-size: 2em;
				letter-spacing: 5px;
				text-shadow: 2px 2px 2px black;
			}
		}
	}

	.body-container{
		width: 90%;
		margin: 50px 5%;
		background: white;
		@include mq("medium"){
			width: 80%;
			margin: 50px 10%;
		}
		@include mq("large"){
			width: 80%;
			margin: 50px 10%;
			p{
				padding: 0 5%;
			}
		}
		@include mq("widescreen"){
			width: 50%;
			margin: 50px 25%;
		}

		.author{
			color: $text;
			text-shadow: 1px 1px 1px black;
			margin: 10px 0;
			.author-name{
				background: $text;
				color: $background;
				padding: 0 5px;
			}
		}
		.intro{
			font-size: 1.25em;
			@include mq("medium"){
				font-size: 1.25em;
			}
			@include mq("large"){
				font-size: 1.75em;
			}
		}


		.section-title{
			width: 100%;
			background: $text;
			color: white;
			margin: 50px 0;
			padding: 20px;
			text-align: center;
			@include mq("large"){
				width: 130%;
				margin: 50px -15%;
			}
		}



		blockquote{
			font-weight: bold;
			font-size: 2em;
			&.left{
				float: left;
				margin: 50px 50px 50px -25%;
				width: 50%;
			}
			&.right{
				float: right;
				margin: 50px -25% 50px 20px;
				width: 50%;
			}
		}
	}

}

.bg-image{
		width: 100%;
		height: 600px;
		height: 100vh;
		background: transparent;
		position: relative;
		overflow: hidden;
		p{
			position: absolute;
			top: 50px;
			left: 50px;
			z-index: 5;
			background: white;
			padding: 0 10px;
			font-size: 2em;

		}
		img{
			width: 100%;
			z-index: 2;
			position: relative;
		}
	}

