@include keyframes(colorz){
	from{
		background-color: rgba(0,0,255,0.5);
	}
	to{
		background-color: rgba(255,0,0,0.5);
	}
}

.container{
	.loader{
		z-index: 7;
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
		@include transition(opacity 0.5s linear);
		background: url(../images/tile.png) repeat top left;
		background-size: 2px;
		&.gone{
			opacity: 0;
		}
	}
	.title-canvas{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
		overflow: hidden;
		cursor: pointer;
		canvas{
			z-index: 4;
			//border: 10px solid black;
			box-shadow: 2px 2px 5px black;
		}




		.title-text{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 90%;
			z-index: 6;
			bottom: 50px;
			z-index: 5;
			@include display(flex);
			@include align-items(center);
			@include justify-content(flex-end);
			@include flex-direction(column);
			//background: rgba(0,0,0,0.3);
			text-align: center;
			cursor: pointer;
			//@include animation(colorz 5s linear infinite alternate);
			h1{
				font-size: 2em;
				letter-spacing: 30px;
				@include uppercase();
				color: white;
				width: 70%;
				background: black;
				padding: 5px 10px;
				@include user-select(none);
				box-shadow: 2px 2px 5px black;
			}
			h2{
				//font-family: 'maison';
				//color: blue;
				@include uppercase();
				background: white;
				padding: 5px 10px;
				font-size: 1em;
				width: 70%;
				letter-spacing: 10px;
				text-shadow: 2px 2px 2px black;
				box-shadow: 2px 2px 5px black;
			}
		}
	}

	.body-container{
		width: 90%;
		margin: 50px 5%;
		background: white;
		@include mq("medium"){
			width: 80%;
			margin: 50px 10%;
		}
		@include mq("large"){
			width: 70%;
			margin: 50px 15%;
			padding: 50px 5%;
		}
		@include mq("widescreen"){
			width: 60%;
			margin: 50px 20%;
		}

		.author{
			color: $text;
			text-shadow: 1px 1px 1px black;
			margin: 10px 0;
			.author-name{
				background: $text;
				color: $background;
				padding: 0 5px;
			}
		}
		.intro{
			font-size: 1.25em;
			@include mq("medium"){
				font-size: 1.25em;
			}
			@include mq("large"){
				font-size: 1.75em;
			}
		}


		.section-title{
			width: 100%;
			background-color: white;
			color: black;
			border: $border;
			margin: 50px 0;
			padding: 20px;
			text-align: center;
			@include mq("large"){
				width: 130%;
				margin: 50px -15%;
			}
		}



		blockquote{
			font-weight: bold;
			font-size: 1.5em;
			background: white;
			padding: 30px;
			border: $border;
			&.left{
				float: left;
				margin: 50px 50px 50px -25%;
				width: 50%;
			}
			&.right{
				float: right;
				margin: 50px -25% 50px 20px;
				width: 50%;
			}
		}
	}

}

.bg-image{
	width: 70%;
	margin-left: 15%;
	height: 600px;
	height: 100vh;
	background: transparent;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	background-color: white !important;
	border: $border;
	@include mq("widescreen"){
		width: 80%;
		margin-left: 10%;
	}
	p{
		position: absolute;
		bottom: 10px;
		left: 10px;
		z-index: 5;
		margin: 0;
		background: white;
		padding: 0 10px;
		font-size: 1em;
		border: $border;

	}
}


