.tree-container{
	position: relative;
	width: 90%;
	margin: 0;
	color: $text;
	text-align: center;
	padding: 50px 20px;
	margin: 0 5%;
	background: white;
	border: 5px solid black;
	h1{
		@include uppercase();
		background: $background;
		padding: 20px;
		width: 60%;
		margin: 0 20%;
		color: $text;
		border: 5px solid $text;
	}
}


.family-info{
	position: absolute;
	@include fast();
	left: 5px;
	height: 100%;
	width: 200px;
	color: black;
	top: 0;
	opacity: 0;
	@include transform(translateX(0) translateY(0) translateZ(0));
	@include transition(opacity 0.4s cubic-bezier(.17, .67, .62, .76));
	padding: 10px;
	@include display(flex);
	@include flex-direction(column);
	@include align-items(flex-start);
	@include justify-content(center);
	text-align: left;
	h2{
		//font-family: 'SFPlanetaryOrbiter';
	}
	p{
		font-size: 0.75em;
	}
	&.active{
		opacity: 1;
	}
	li{
		font-size: 0.75em;
		a{
			background: $text;
			color: white;
			padding: 5px;
			margin-left: -5px;
			text-decoration: none;
		}
	}
}

// .family-tree{
// 	margin: 0 15%;

// }


.node{
	circle{
		fill: '#fff';
		stroke-width: 3px;
		cursor: pointer;
	}
	text{
		font: 12px 'maison';
		fill: white;
	}
	image{
		cursor: pointer;
	}
}

path.link{
	fill: none;
}