.tree-container{
	position: relative;
	width: 100%;
	margin: 0;
	color: $text;
	text-align: center;
	padding: 50px 20px;
	margin: 0;
	background: black;
	@include mq("widescreen"){
		width: 80%;
		margin: 0 10%;
	}
	h1{
		@include uppercase();
		background: $background;
		padding: 20px;
		width: 60%;
		margin: 0 20%;
		color: $text;
		border: $border;
	}
}


.initial-text{
	position: absolute;
	top: 450px;
	height: auto;
	color: white;
	width: 100%;
	p{
		font-size: 3em;
		padding: 20px;
		@include uppercase();
		font-weight: bold;
	}
}


// .family-tree{
// 	margin: 0 15%;

// }


.node{
	circle{
		fill: '#fff';
		stroke-width: 3px;
		cursor: pointer;
	}
	text{
		font: 12px 'maison';
		fill: white;
	}
	image{
		cursor: pointer;
	}
}

path.link{
	fill: none;
	stroke: white;
	stroke-width: 2px;
}


// -------------------------------------------------
//
// Fixed info container
// 
// -------------------------------------------------
.fixed-tree-container{
	position: fixed;
	bottom: 0;
	left: 0;
	@include fast();
	width: 100%;
	height: 150px;
	background: black;
	color: white;
	border-top: 1px solid white;
	@include transform(translateY(150px) translateZ(0));
	@include transition(all 0.5s ease-out);
	padding: 10px 20px;
	@include display(flex);
	@include flex-direction(column);
	@include align-items(flex-start);
	@include justify-content(center);
	&.active{
		@include transform(translateY(0) translateZ(0));
	}
	h1{
		line-height: 1;
		margin: 0;
		font-size: 1.2em;
	}
	p{
		margin: 0;
		font-size: 13px;
	}
}