// -------------------------------------------------
//
// Video Styles
// 
// -------------------------------------------------

.video-outer{
	width: 100%;
	height: auto;
	position: relative;
	padding: 5px;
	cursor: pointer;
	margin: 50px 0 25px 0;
	&.video-right{
		@include mq("large"){
			float: right;
			width: 50%;
		}
		
	}
	@include mq("large"){
		width: 90%;
		margin-left: 5%;
	}

	.video-caption{
		font-family: 'maison';
		font-size: 0.75em;
		padding-top: 20px;
		display: block;
	}

	.video-poster{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 90%;
		overflow: hidden;
		img{
			height: 100%;
			width: auto;
			min-width: 100%;
		}
		&:before{
			border: 4px solid $text;
			color: $text;
			@include transform(translateX(-50%) translateY(-50%));
			content: '▶︎';
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 500;
			font-size: 45px;
			line-height: 2;
			padding-left: 9px;
			width: 71px;
			display: block;
			height: 80px;
			text-align: center;
			border-radius: 50%;
			pointer-events: none;
		}
	}
	.video-inner{
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		position: relative;
		text-align: center;
		overflow: hidden;
		iframe,object,embed{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&.video-left{
		
		@include mq("large"){
			float: left;
			width: 50%;
			margin: 50px 50px 50px -25%;
		}

	}
	&.video-right{
		@include mq("large"){
			float: right;
			width: 50%;
			margin: 50px -25% 50px 50px;
		}
		
	}
	&.video-center{
		float: none;
		width: 100%;
		margin: 50px 0;
	}
}