doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="robots", content="index,follow")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
		link(rel="stylesheet", href="css/main.css")

		title YOUR TITLE HERE

		meta(itemprop="name", content="xxxxxxxxxx")
		meta(itemprop="description", content="xxxxxxxxxx")
		meta(itemprop="image", content="http://daily.redbullmusicacademy.com/specials/xxxxxxxxxx")

		meta(name="description", content="xxxxxxxxxx")

		//-FB
		meta(property="og:title", content="xxxxxxxxxx | Red Bull Music Academy Daily")
		meta(property="og:description", content="xxxxxxxxxx")
		meta(property="og:type", content="article")
		meta(property="og:url", content="http://daily.redbullmusicacademy.com/xxxxxxxxxx/")
		meta(property="og:image", content="http://daily.redbullmusicacademy.com/xxxxxxxxxx")
		meta(property="og:site_name", content="Red Bull Music Academy Daily")
		meta(property="fb:admins", content="100006789941377")

		//-Twitter
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:site", content="@rbma")
		meta(name="twitter:title", content="xxxxxxxxxx | RBMA Daily")
		meta(name="twitter:description", content="xxxxxxxxxx")
		meta(name="twitter:creator", content="@rbma")
		meta(name="twitter:image:src", content="xxxxxxxxxx")


		link(rel="author", href="https://plus.google.com/+RBMA/posts")
		link(rel="publisher", href="https://plus.google.com/+RBMA")

		link(rel="apple-touch-icon", sizes="57x57", href="icons/apple-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="icons/apple-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="icons/apple-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="icons/apple-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="icons/apple-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="icons/apple-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="icons/apple-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="icons/apple-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="icons/apple-icon-180x180.png")
		link(rel="icon", type="image/png", sizes="192x192", href="icons/android-icon-192x192.png")
		link(rel="icon", type="image/png", sizes="32x32", href="icons/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="96x96", href="icons/favicon-96x96.png")
		link(rel="icon", type="image/png", sizes="16x16", href="icons/favicon-16x16.png")
		link(rel="manifest", href="icons/manifest.json")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-TileImage", content="icons/ms-icon-144x144.png")
		meta(name="theme-color", content="#ffffff")

	body

		nav.main-nav#nav
			a.logo(href="http://daily.redbullmusicacademy.com")
			a.text(href="http://daily.redbullmusicacademy.com") Red Bull Music Academy Daily

			.social
				a.share-icon.facebook(data-site="facebook")
				a.share-icon.twitter(data-site="twitter")

		.bgImage#bgImage

		.container#container
			#loader.loader(style="font-family: 'Orbiter'")
			#title-canvas.title-canvas
				.title-text
					h1 <span class="lead">A</span>mbient <span class="lead">H</span>ouse
					h2 The Story Of Chill Out Music, 1988-95

			.body-container
				.author Story By: <span class="author-name"><a href="">Matt Anniss</a></span>

				.intro
					p.
						At the tail end of 1989, those lucky enough to be on the KLF Communications mailing list received a package containing a pair of records that were, by the standards of the time, hugely radical.

				p.
					The accompanying info sheet spelled this out in no uncertain terms. DJs were warned that the first record, which contained new remixes of the previously unissued “Last Train To Trancentral”, may be: “totally unlistenable to anyone who isn’t a freight train enthusiast or flat on their backs and out of their heads”.

				p.
					The second slab of wax emphasized this horizontal ethos. This was Chill Out, an imaginary soundtrack to a late night/early morning trip across America’s Deep South, with all manner of sampled voices, melodies and environmental sound effects for company. “Don’t bother trying to listen to this LP if you have neither first switched off the lights and then laid your body to rest on the floor,” the info sheet warned. “Hopefully then the trip will be complete.”

				

				p.
					The duo’s intent, part of a growing wider movement that they had helped to initiate throughout 1989, was explained – to a certain degree, at least – in another info sheet mailed to journalists around the same time. Headed “AMBIENT HOUSE – THE FACTS”, it offered a tongue-in-cheek introduction to a new style born out of British club culture’s growing love affair with Ecstasy. Written by Bill Drummond as a numbered list of definitions – a mix of truths, half-truths and jokey asides – this manifesto-like missive would turn out to be strangely prescient.


				p.
					In the five years that followed, Ambient House – or, as it was more often referred to, “chill out music” – would provide the inspiration for a whole scene concerned not with dancing, but lying down. This was music not for coming up, or even the thrilling rush, but for the inevitable comedown. As dance music increased in speed and intensity with the rise of hardcore, jungle and European mutations of Detroit techno, the flipside ambient scene blossomed with it.

				p.
					Ultimately, it was a short-lived high. Having expanded globally at a rapid rate throughout the early ‘90s, Ambient House endured its’ own painful comedown as the turn of the Millennium approached.

				p.
					Where once it had provided the soundtrack to wavy, mind-altered moments via club “chill out rooms”, after-parties and mornings after on the sofa, ambient became the preserve of acid enthusiasts, middle-aged former ravers, and po-faced academic musicians. Sucked up and spat out by the music industry, “chill out” became a term more associated with poor quality cash-in compilations, sub-par trip-hop records, and self-indulgent material that lacked the panache, humour, and out-there sensibilities of the style’s earliest explorations.

				.section-title
					h1 AMBIENT HOUSE WILL BE SEEN BY SOME AS A CYNICALLY CONCOCTED FAD TO FEED THE EVER HUNGRY MEDIA MACHINE

				p.
					Author John Higgs, whose 2014 book The KLF: Chaos, Magic & The Men Who Burned A Million offers the best analysis yet on Bill Drummond and Jimmy Cauty’s artistic partnership, believes that the duo weren’t the great media manipulators most believe them to be. He recently told an audience in Bristol that the pair were mostly “winging it” when it came to their relationship with the press. Many will disagree, and there was certainly a degree of cold calculation in their promotion of Ambient House.

				p.
					By the time Chill Out hit record stores in February 1990, they had been developing the sound, along with friends “Dr” Alex Paterson and former Killing Joke man Martin “Youth” Glover, for well over a year. The term, and Drummond’s typically eccentric efforts to define it in print, emerged from a collective desire to control the media narrative surrounding the quartet’s releases. Brazenly, they were even up-front about their intentions when corresponding with journalists.


				.section-title
					h1 AMBIENT HOUSE IS NOT NEW AGE MUSIC

				p.
					Unlike most of the other founding fathers of Ambient House, Duncan Robert Alex Paterson had a pretty good knowledge of the first wave of ambient and new age music that emerged throughout the ‘70s and early ‘80s. He’d first been turned on to the style after finding a box of old Brian Eno records in the E.G Records office, during his time working as a roadie, tour manager and odd-job man for Killing Joke.

				p.
					Paterson was a frequent visitor to the EG office through the first half of the 1980s. On one visit to fill in studio timesheets on behalf of Killing Joke, he cheekily suggested that they employ him as an A&R scout. “I told them none of them knew what was going on in music, and at least I did,” he laughs. “The following Monday they told me I had a job.”

				p.
					While this role with EG would prove pivotal for Paterson – not least for bringing him into contact with many of the original ambient pioneers, as well as a new wave of German electronic artists including future collaborator Thomas Fehlmann and a young Moritz Von Oswald – it was his relationship with Martin “Youth” Glover that pushed him towards a career making and playing music.


				p.
					Glover and Paterson went way back, having met and bonded over a shared love of punk, dub reggae, progressive rock and psychedelic sounds during their school days. By 1986, Glover was now fronting a band called Brilliant, with guitar and keyboard player Jimmy Cauty. In another twist of fate, Brilliant’s A&R manager at WEA Records was a frustrated former art school student, set builder and band manager called Bill Drummond.

				.section-title
					h1 AMBIENT HOUSE IS NOT DANCE MUSIC

				p.
					It was undoubtedly Paterson and Cauty’s shared clubbing experiences, and all that meant during a period of huge change, that led them to lay the foundations for what would become Ambient House – even if it would take a while for the sound itself to take shape.

				p.
					Both had embraced ecstasy culture, and were semi-regular fixtures on the dancefloors of leading London events, most notably Shoom. It can be hard separating fact and myth when it comes to Danny Rampling’s infamous parties, but there’s no doubt that the club’s groovy, loved-up, colourful and fun approach – a far cry from the druggy intensity that would later be associated with the subsequent rave scene – was an influence on Paterson and Cauty’s later ambient house releases.

				p.
					It was perhaps inevitable that the duo’s initial studio sessions would be devoted to the metronomic pulse of dance music. These began in the summer of ’88, initially by chance. “One day I went down to see Jimmy in Trancentral, his squat and basement studio in Stockwell,” Paterson remembers. “He’d just bought this keyboard, and he couldn’t work out how to use it. It just happened to be the same Yamaha model that Killing Joke had been using for the last eight years, so I at least knew how to turn it in on. So, we were playing around with it, got a few sequencers going and decided to make a record.”

				.tree-container
					h1 Family Tree Of Ambient House*
					.family-info
						h2#name
						p#bio
						ul.info-links


					.family-tree#family-tree

					p
						small *Condensed

				div(style="clear:both")

				p.
					That track was “Tripping On Sunshine”, and it became the debut of the duo’s new project, The Orb. Built around a pounding groove, warehouse-friendly stabs and distinctive acid house influences, it was included on Youth’s Eternity Project One compilation. The album was the first collaboration between Youth and Paterson’s new label, WAU! Mr Modo, and Gee Street Records.

				p.
					WAU! Mr Modo would go on to play a pivotal role in the early development of Ambient House, not only by releasing other Orb recordings, but also similarly-minded fare from Thomas Fehlmann (as Readymade), Sun Electric, Paradise X, Mystic Knights and Baku.

				p.
					Paterson and Cauty continued their dancefloor explorations on the next Orb release, The Kiss EP. Something of a sample-laden, heavily percussive mess, the EP is arguably only notable for the title’s cap-doffing reference to New York’s legendary Kiss FM (the name of which inspired the pirate-then-legit London station of the same name). Paterson has said on numerous occasions that the outlet’s mix shows opened him up to the artistic potential of DJing.

				.section-title
					h1 AMBIENT HOUSE IS JUST A MONDAY NIGHT ClIQUE IN THE VIP ROOM AT HEAVEN

				p.
					It was through DJing, rather than music making, that Paterson, Cauty and Glover developed the blueprint for Ambient House. In 1989, they were offered the opportunity to host the VIP Room at Paul Oakenfold’s Land of Oz parties, which took place on Monday nights at Heaven following the demise of Spectrum.

				p.
					“It was not something I was interested in as I was not a career DJ, but for The Orb it was quite important, as it gave us some club credibility,” Jimmy Cauty says. “I DJ’d a handful of times, but mostly it was Alex, and later Youth did it fairly regularly. There was no attempt made to make it a proper “chill-out room” – it was just a VIP room, with an atmosphere like any other VIP bar. I had asked for the area to be furnished with rows of hospital beds so that everyone could chill-out, but these requests were ignored by the management.”

				p.
					Cauty had previously held spontaneous, post-club “chill-out parties” on Sundays at Trancentral, where Paterson would DJ to various fragile friends and acquaintances. Occasionally, he’d use a sampler and cassette players in addition to turntables, running it all through the studio’s mixing desk. The duo expanded on this idea when transferring to the VIP bar at the Land of Oz.


				p.
					“Paul Oakenfold had said that he didn’t want anyone to dance in that room, which gave me a perfect excuse to try things out,” Paterson says. “We took down four turntables, two cassette players, and an AKAI sampler.”

				p.
					The sound soup served up by Paterson, occasionally with the assistance of Cauty or Glover, was a curious concoction, and unlike anything else happening at the time. Musically, it was a mixture of older progressive rock, psychedelic, ambient, new age and dub records, blended with spoken word snippets, and Paterson’s own field recordings.

	.bg-image
		p.
			Some caption here
		img(src="images/chess.jpg")

	.container
		.body-container

				p.
					Paterson also made great use of suitably laidback Balearic house records of the time, such as “Sueno Latino” (and the record it sampled, Manuel Gottsching’s timeless E2-E4), and The Beloved’s “The Sun Rising” (12” copies of which featured a beat-less ambient version on the flip).

				p.
					“I’d loop up a little bit of, say, 808 State’s “Pacific”, and then bring that in and out at various times over the course of the night,” Paterson remembers. “This would create a nice theme for the evening. We had six hours to fill, so we could do that kind of thing.”

				p.
					Although primarily meant as a soundtrack to the conversation of fellow DJs and industry liggers, Paterson and company’s Orb sessions at the Land of Oz nevertheless quickly earned an impressive reputation. They received press coverage via The Face, for example, which in turn attracted other music journalists.

				blockquote.left.
					"It was either come up with something to describe what we were doing, or get lumbered with a genre or style name we didn't want,” Paterson says. “Coming from working at E.G Records, where the word 'ambient' was bandied around a lot, I knew it had to be in there in somewhere."

				p.
					One of these was Mixmaster Morris, who had replaced Andrew Weatherall as NME’s weekly dance music columnist a year earlier, and had a growing reputation for championing complex, interesting and “intelligent” forms of electronica.

				p.
					“I remember them using a catalogue of old records, but different ones to mine,” he says. “It was things like Dark Side of The Moon and Tubular Bells. They would mash them up by playing two copies at once, sample them, layer sound effects over the top, and do all kinds of weird shit. It was very spontaneous, freaky, exciting and inspiring.”

				p.
					Mixmaster Morris already had a reputation as someone who could play odd, interesting, laidback music, as well as perform live with drum machines and samplers. What he heard in the VIP room at Heaven proved the catalyst for his own career as a “chill-out DJ”.


				p.
					“I asked Alex if I could play up there and he told me to fuck off,” he laughs. “That’s when I decided to do my own chill-out room. When Land of Oz finished it was replaced by a night called Madlands. I managed to secure that VIP Bar, which was by then known as The White Room, to do my chill-out sets.”

				p.
					It was not unusual for Paterson to find older ambient musicians, including David Toop, in attendance. Another interested spectator was former Gong guitarist and psychedelic rock legend Steve Hillage, whom Paterson had invited down after a chance meeting at EG Records.

				p.
					“As I walked in, he was playing my album, Rainbow Dome Musick, mixed in with some beats,” Hillage says. “It was like an epiphany – a real cathartic moment for me. It was like I’d arrived in my new musical home – everything just felt right.”

				p.
					Hillage had been musing on a change of direction for some time, and what he heard at Land of Oz confirmed his hunch that blending his distinctive guitar textures with synthesizers and beats based on contemporary house and techno could be the way forward. Later, he put his plan into practice, launching the System 7 project with partner Miquette Giraudy, and recruiting Alex Paterson to collaborate on their first tune, “Sunburst”.

				.section-title
					h1 AMBIENT HOUSE CELEBRATES THE SOUNDS WE HAVE HEARD ALL OUR LIVES BUT NEVER LISTENED TO

				p.
					When it came to making more Orb music, it was to the formula they’d developed at The Land of Oz that Paterson and Cauty turned. They began by producing remixes of The KLF’s “3AM Eternal”, Sun Electric’s “O’Locco”, and, more surprisingly, Dave Stewart’s “Lily Was Here”. All three borrowed extensively from sound effects albums picked up in second hand stores, and spoken word samples from old sci-fi films and radio plays.

				p.
					"Ambient House was the first style to use environmental sounds like that in a big way,” says Kevin Foakes, now better known as Strictly Kev or DJ Food, but then an art student who found The Orb and The KLF’s horizontal excursions hugely inspiring. “They’d use whale noises, bird calls, thunderstorms, wave records, astronaut chatter, that sort of thing. That was definitely a signature. It got pretty old fairly quickly, but it was a huge part of the sound at the beginning."

				.video-outer.video-right
					.video-poster
						img(src="images/soap-bubble.jpg")
					.video-inner(data-src="https://www.youtube.com/embed/Y0duA3b4g_Q")
					.video-caption La Coucher de Mariee, 1896

				p.
					Nature and space quickly became the twin themes explored in Ambient House releases. “Alex Paterson’s sense of humour was also something that separated The Orb from other acts of the time,” says Thomas Fehlmann, who began working with Paterson in early 1990. “The German interpretation of ambient often had a serious side to it, and almost took inspiration from classical music. Alex really threw everything up in the air and made a joke about it. That was very rare – to have all these elements, but instead of fighting each other, they were actually complimentary.”

				.section-title
					h1 AMBIENT HOUSE IS IMPOSSIBLE TO CONSTRAIN WITHIN THE LIMITATIONS OF THE 7” RADIO PLAYABLE SINGLE

				p.
					Paterson and Cauty first nailed the sound on the now legendary, 19-minute single A Huge Ever Growing Pulsating Brain That Rules From The Centre Of The Ultraworld (Loving You). An exercise in the power of sampling and mood enhancement, it combined elements of tracks by Minnie Ripperton and Grace Jones with the duo’s own Tangerine Dream style synthesizer lines (supposedly created by speeding up a bassline), sporadic bursts of bass-heavy breakbeats, and all manner of noises from nature. It remains one of The Orb’s most magical moments, and was the first record to be promoted using the freshly minted ‘Ambient House’ tag (the back cover proclaimed that it was “Ambient House For The E Generation”).

	.bg-image
		p.
			Some caption here
		img(src="images/chess.jpg")
			
	.container
		.body-container

				p.
					Somewhat surprisingly, its’ creators also claim a very specific set of circumstances inspired it. “We’d been down to this Shoom party outside Brighton the night before, and spent the Sunday morning and afternoon lying on the beach,” Paterson remembers. “When we got back to Trancentral, Jimmy had a headache, sunstroke and a burnt leg, and decided to take the beats out of the track we were making.”

				p.
					It certainly worked, and the reaction of those who heard it – either in demo form at The Land of Oz, or on promo copies – was largely positive. Legendary Radio One DJ John Peel was a fan, and asked the duo to record a live version ‘in session’ at Maida Vale Studios the week of its’ December 1989 release. It would prove to be a tricky recording.

				p.
					“We set up in the live room as instructed and recorded 24 tracks of four or eight bar loops, creating a loop monster about 23 minutes long,” Cauty reveals. “At the end the producer thanked us and told us to go to the pub and come back later to hear the mix. It took a huge amount of negotiating to get me into the control room to mix the track. I had to explain all they had was a series of loops without a structure that needed a 23-minute performance on the mixing desk to create a finished composition. Eventually they let me in to the control room, and the mix was done as a single pass with no edits, as the SSL computer ran out of memory after about 10 minutes.”

				.video-outer.video-left
					.video-poster
						img(src="images/soap-bubble.jpg")
					.video-inner(data-src="https://www.youtube.com/embed/Y0duA3b4g_Q")
					.video-caption La Coucher de Mariee, 1896

				p.
					The Orb’s first Peel Session was a significant moment in the Ambient House story. Being featured on Peel’s popular show – essential listening at the time for anyone interested in new and alternative music – not only introduced Ambient House to a wide audience, but also gave it legitimacy. It also set the template for long, winding, slowly unfurling tracks; a stylistic trait that would remain long after others had picked up the baton and run with it.

				p.
					"Nobody really knew what to make of A Huge Ever Growing Pulsating Brain, which was great,” Paterson enthuses. “When we did the Peel Session, that's when it all kicked off."

				p.
					1990 would be a productive year for both Paterson and Cauty, even if they did go their separate ways following an argument over Chill Out. “I did a lot of DJ mixes, which formed the basis of the album,” Paterson asserts. “It would have been nice to be credited. I think him and Bill were just desperate to release the first Ambient House album.”

				p.
					Before turning away from the style – supposedly after being told what they were doing was ‘boring’ by Guru Josh – The KLF did release a couple more Ambient House classics; their UFO Mix of The Pet Shop Boys’ “It Must Be Obvious”, and Cauty’s solo album Space. As for Paterson, he recruited an impressive cast-list of collaborators, producers and studio engineers, and recorded Adventures Beyond The Ultraworld, The Orb’s expansive and genre-defining debut album.

				p.
					"Adventures Beyond The Ultraworld really wrote the rule book on the spacey ambient sound,” Kevin Foakes says. “Then you had The KLF's Chill Out, which wrote the rulebook on the more environmentally leaning ambient records, using as it did natural sounds, train noises and so on. We shouldn't forget Space, either. That was designed as a journey through space, with a splashdown at the end, which is just fantastic. It's a concept record that stands on its' own."

				.section-title
					h1 AMBIENT HOUSE MAKES LOVE WITH THE WIND AND TALKS TO THE STARS

				p.
					Between 1990 and 93, British dance music evolved at a rapid pace. Techno, and the multitude of mutant genres that sprang up in its’ wake, markedly rose in prominence. Breakbeats, big basslines, furious acid lines and heavy electronics were now dominating dancefloors, with high tempo and throbbing intensity the order of the day.

				p.
					Perversely, this only increased the popularity of “chill-out music”, both as a viable musical pursuit for producers, and as an offering at clubs. “A lot of what I was listening to on the rave and hardcore scene had 12" singles that would come with a track tucked away on the B-side that was more chilled-out and dubby,” Kevin Foakes explains. “I was playing a lot of that stuff, and labels such as Reflective and FAX.”

				p.
					The nature of music being played in the main rooms of parties – be they in clubs, or illegal spaces – simply made ambient a necessity. "Everything was just getting faster and faster and more intense, and people were realising the possibilities of where they could go creatively with the blueprint of dance music,” says Jonah Sharp, whose releases as Spacetime Continuum helped to define “Ambient Techno” during the period. “People were just pushing and pushing it further. That's how the ambient or chill out room came about. You had to have it, because the music was so fucking intense that you had to go and chill out somewhere.”

				p.
					The master of the Chill Out room, in London at least, was Mixmaster Morris. Having dabbled in computer programming, event promotion, radio hosting and live performance (jamming out acid house and techno using drum machines and samplers, often in support of his friends The Shamen), he began to become the “go-to DJ” for all things ambient following his stint behind the decks in Madlands in 1990.

				p.
					“When I was doing early chill out rooms, there weren't vast amounts of new Ambient House or chill out records to play,” he says. “In fact there were very few, so you needed to add lots of old stuff. I ended up playing the records I’d been buying in the early and mid ‘80s. I guess some of it would now be called ‘kosmiche’ – that wave of Krautrock that was more trippy and based around synthesizers.”

				p.
					That, of course, changed significantly as the early ‘90s progressed, but even in the early days Morris was a hugely influential figure. Several of those interviewed for this piece made a point of saying how much his friendliness, enthusiasm and encyclopedic knowledge of music played an important role in building interest in ambient music.

				p.
					“Morris was the catalyst for a lot of what we did, and others around the scene,” Kevin Foakes says, referring to the Telepathic Fish parties he was involved with from ’93 onwards. “There were definitely two distinct camps in the ambient house scene at the time – Alex Paterson, Youth and the other Orb collaborators on one side, then Morris and the people he encouraged on the other.”

				.video-outer.video-left
					.video-poster
						img(src="images/soap-bubble.jpg")
					.video-inner(data-src="https://www.youtube.com/embed/Y0duA3b4g_Q")
					.video-caption La Coucher de Mariee, 1896

				p.
					One of Mixmaster Morris’s earliest residencies was at Spacetime, a series of occasional parties promoted by Jonah Sharp and his fashion designer friend Richard Sharp. The latter had played with The Shamen on tour, decked them out in Dickensian outfits for a Top of The Pops appearance, and made all of Mixmaster Morris’s now famous hologram space suits.

				p.
					The Spacetime parties took place on the top floor of a warehouse space in Limehouse in East London. “They were pretty small to begin with – at the first one there were about 50 people,” Jonah Sharp remembers. “They started out as chill-out parties, because Morris was our friend and we wanted him to play.”

				p.
					Over the space of a year, Spacetime’s parties became the stuff of legend, ensuring that “everyone from the scene” (as Jonah Sharp puts it) crammed into the warehouse for the final bash. By then, the musical menu had altered a little.

				p.
					“It was a one-room party that went all night, with ambient at the beginning and end, and techno in the middle, often played by Mr C,” Mixmaster Morris says. “There was a lot less pressure to conform 25 years ago. It was this fantastically free place where you could do something unlike other people – something new.”

				p.
					Jonah Sharp agrees: “It was all related to rave, but we felt like we were stretching out towards the left field, championing people like The Black Dog. I was really aware that there was this distinctively British reaction to certain American mid-west music that was taking this new form. It was kind of chill-out, but it wasn’t new age. It had more of a Detroit influence than you found in early Orb records. We’d play Larry Heard and other jazz-influenced deep house records as well.”

				.section-title
					h1 AMBIENT HOUSE ONLY MAKES SENSE TO THOSE WHO MADE IT TO THE FURTHEST REACHES OF DANCE MUSIC IN THE LAST TWO YEARS

				p.
					The musical template followed by Spacetime was indicative of a wider shift in “chill-out” music. Ambient became more obviously influenced by the spacey atmospherics and futurist ethos of Detroit techno, blurring the boundaries between “chill out” and “ambient techno”. There was also a change in what Mixmaster Morris calls the “chemical profile” of the drugs being consumed at events, with LSD and Magic Mushrooms increasing in popularity.

				p.
					“When acid house exploded, those on the psychedelic scene took a particularly literal, psychedelic interpretation of the ‘acid’ bit,” Steve Hillage laughs. “The psychedelic music scene had pretty much collapsed in the early ‘80s, but there was one interesting guy called Fraser Clark. He started a fanzine in 1986 called Encyclopedia Psychedelia. In there he championed electronic music, saying it was going to be the new psychedelia. So people on that side of the scene were talking about it before it ever happened. A fair number of psychedelic people in the '80s found themselves a new home in the electronic sphere in the early ‘90s.”

				p.
					The strength of this link between the psychedelic and dance music cultures was arguably best demonstrated by the Megatripolis events at Heaven, which featured, amongst other attractions, guest lectures by leading psychedelic thinkers.

				.video-outer.video-right
					.video-poster
						img(src="images/soap-bubble.jpg")
					.video-inner(data-src="https://www.youtube.com/embed/Y0duA3b4g_Q")
					.video-caption La Coucher de Mariee, 1896

				p.
					"They had all sorts of people – Terrence McKenna, Alan Ginsberg, George Monbiot, and Timothy Leary on an ISDN link-up,” Mixmaster Morris explains. “Terrence was an amazing speaker, very charismatic. He could talk for eight hours without notes, and then remember his original point at the end. He was so lucid and fascinating.”

				p.
					McKenna’s distinctive, spoken word vocals made countless appearances on Ambient records during the period, including those by The Shamen (“Re: Evolution” from the Boss Drum full length), The Irresistible Force (Mixmaster Morris’s recording project for Rising High, and later Ninja Tune) and Spacetime Continuum. The latter’s Alien Dreamtime album sprung from a live show Jonah Sharp performed with the infamous psychedelic thinker in San Francisco in 1993.

				p.
					“It was a really important moment in the history of the San Francisco rave scene,” Sharp says. “There were all these hippies there doing tree dancing and all sorts. Terrence was really good. The whole thing ran to about two and a half hours, which was quite intense for me as I was doing everything live on analogue hardware. It was an amazing night – a real ‘I was there’ moment for many people in San Francisco.”

				.section-title
					h1 AMBIENT HOUSE IS THE AMORPHOUS SUBCONSCIOUS

				p.
					There was also an element of psychedelic experimentation in the thriving London squat party scene, which played a huge role in spreading hardcore and Ambient throughout the capital between 1991 and ’94.

				p.
					“At the beginning of the '90s, in Camberwell alone there would be three or four parties in squats on a Friday or Saturday night,” Mixmaster Morris says. “There would often be a thousand people in, like, six houses knocked together. There would be all sorts of interesting DJs playing at those parties – even the big names. They would play at five in the morning after they'd done a commercial party. The first time I saw Juan Atkins play was at a squat party."

				p.
					One of the most influential squat parties of the early ‘90s was Telepathic Fish, an event put on by a group of student friends, including Kevin Foakes and Chantal Passamonte, later to produce under the Mira Calix alias for Warp.

				p.
					“The first party took place at our student house in East Dulwich in late 1992,” Foakes remembers. “Previously, we’d out go to all night raves and what have you, come back and spend the whole of the next day awake, chilling out, in someone's house, while mixing and listening to laid-back music, often with spoken word samples and whale noises over the top. We all began enjoying this more, and thought that we should do a party that's just this. You know, a party for people who'd already raved.”

				p.
					The first Telepathtic Fish party was a rip-roaring success, so Foakes, Passamonte and company quickly secured a space off Tunstall Road in Brixton to hold a second. This one, advertised as an “ambient tea party”, began on Sunday afternoon and ran through to Monday morning. Like the first party, it featured Mixmaster Morris on the decks, and a special guest: Coldcut’s Matt Black.

				p.
					“That party was a seminal moment for me,” Black asserts. “It was when I first recognized it as an actual distinctive scene – something special that I wanted to be part of. I remember taking my first acid trip in about 12 years, and Morris playing for about five or six hours. I was completely entranced by the experience. It was the first time I realized how much, as a DJ, you have a responsibility to the audience, because a lot of those people are going to be in a psychologically fragile state."

				p.
					It was probably inevitable that Coldcut would “get” ambient house, and the DJ-driven, sample-heavy approach originally promoted by Alex Paterson. They’d been enthusiastic exponents of cut-and-paste sample culture since the mid ‘80s, originally from a hip-hop perspective, and later acid house.


				p.
					“Coldcut didn’t play that much ambient on the Solid Steel radio show, but they did play some,” Foakes says. “They also did a show where it was just them and The Orb, around Christmas 1991. That Coldcut vs The Orb edition of Solid Steel was hugely influential.”

				p.
					Black certainly has fond memories of that now legendary show. “It was quite a milestone,” he says. “Ambient House – and I really hated the term – was a great canvas to throw in lots of different material, mash and collage them together, and put that out there in a place where people would listen to it.”

				p.
					The use of radio as a medium for the development and promotion of Ambient shouldn’t be underestimated. Later, it would be used by Future Sound of London – usually via ISDN link from their studio – to further blur the boundaries between DJing, live performance and sound design. “Radio quickly evolved as an area where people were inclined to use their ears,” the duo wrote in the liner notes for their 1995 compilation of radio jam sessions, the suitably dark and intoxicating ISDN. “We could reach people at their strongest and most vulnerable – in the home.”

				p.
					Black and Coldcut partner Jon More had long understood the potential of radio as a creative medium. While Future Sound of London would later take a darker, more intense approach, they could see the value in blending classic influences – particularly the minimalism of Steve Reich, Terry Riley and Philip Glass, as well as early Eno – and were not afraid to embrace the cheeky humour so beloved of Alex Paterson.

				p.
					“I think you have put your finger on a key point, in that there was a playfulness, a sense of humour and a joy in using stuff, mashing it together, taking it out of context,” Black agrees. “By juxtaposing stuff, you can create a new meaning, and sometimes that meaning is funny.”

				p.
					Black’s enthusiasm for the ambient scene was such that he instigated the launch of N Tone, an offshoot of Ninja Tune dedicated to experimental, down-tempo electronic sounds. Label artists – the likes of Journeyman, Neotropic, Burnt Friedman and Drome – were largely recruited through London’s growing ambient scene.

				p.
					N Tone was typical of the period (and the label’s two Tone Tales From Tomorrow mix CDs remain classics of the genre). R&S Records had launched their own ambient sub-label, Apollo, in 1992 (Aphex Twin’s seminal Ambient Works Volume 1 being an early hit), while leading hardcore and techno label Rising High was equally as dedicated to ambient. In fact, it was Rising High that promoted the most influential ambient compilation series of the period, Chill Out Or Die.

				.section-title
					h1  AMBIENT HOUSE IS THE FIRST MAJOR MUSIC MOVEMENT OF THE NINETIES

				p.
					By 1994, Ambient House had graduated from the chill-out rooms of London – now replaced by dedicated ambient events, many promoted by the crew of people that would later launch The Big Chill festival – to become a genuine global phenomenon. This was in part due to the runaway success of The Orb, who had gone from underground eccentrics to festival headliners and chart-toppers.

				p.
					On the back of the success of their “Blue Room” single in June ’92 – promoted with a now infamous appearance on Top Of The Pops, in which Paterson and Thrash played chess in space suits – the U.F.Orb album reached number one in the album charts. It was indicative of the growing commercial appeal of ambient music.

				p.
					The increase in the volume of releases, and labels putting them out, meant that London could even sustain a record stored dedicated to the style. It was called Ambient Soho, and was tucked away at the end of Berwick Street. At various points, Chantal Passamonte and Kevin Foakes both worked there.

				p.
					“It was very small,” the latter says. “It started off in the back of a bead and hippy-wares shop. It was initially a counter selling cassettes and the odd CD of people who were on the scene. It was so underground, lo-fi and ramshackle, but stocked loads of great stuff. Ambient Soho was a big part of the scene – we sold our fanzine through it, promoted our nights and gigs through it, and it was a little touchstone in the ambient scene."

				p.
					Distinctive scenes had also begun cropping up around the globe. Mixmaster Morris took ambient to Japan in 1993, putting on the first dedicated event in the back of a restaurant following a memorable appearance at legendary techno club Yellow. The Japanese scene would go on to become one of the strongest and most vibrant in the World, with artists such as Tetsui Inoue and Yuji Takanouchi delivering landmark releases on FAX and Apollo. At one point, Japan even boasted a monthly magazine devoted to ambient music.

				p.
					Over in Germany, ambient had been a part of the electronic music scene since the tail end of the ‘80s. “From very early on, at the Love Parades or other small scale events in Berlin, there were always DJs invited over to play in that ambient style, particularly Alex [Paterson] and Mixmaster Morris,” Thomas Fehlmann remembers. “Through the city’s connections to krautrock, we were never that far away from it in terms of the sound. A huge influence was Manuel Gottsching’s E2-E4, which I remember hearing played in techno clubs.”

				p.
					Fehlmann was friends with all of the major techno players in Berlin, and was instrumental in building links with Detroit. “Even Tresor and the other big club at the time, Planet, had chill-out rooms,” he continues. “That second room at Tresor was where you could hear experimental ambient releases, such as those coming out of Pete Namlook’s studio in Frankfurt. He was a frequent visitor to Berlin, and part of the scene in that way.”

				p.
					Namlook was a hugely influential figure, pushing a sound that was indicative of how ambient had changed over the previous five years. His trademark sound – all long chords, spacey atmospherics and bubbling rhythms – was more indebted to the classical approach of Eno and the techno futurism of Detroit, than the tongue-in-cheek, sample-heavy concoctions originally devised by Paterson and Cauty.

				p.
					He was a born collaborator, too, working with many leading figures in both techno and ambient – the likes of Mixmaster Morris, Richie Hawtin, Higher Intelligence Agency and David “Move D” Moufang. The latter had begun his career creating particularly deep, evocative, Detroit-influenced ambient alongside friend Jonas Grossman under the Deep Space Network alias. Moufang, too, was keen on collaboration, and went to extremes to secure an opportunity to work with those who inspired him.

				p.
					“David just turned up in San Francisco and knocked on my door,” Jonah Sharp laughs. “He said: ‘I’m from Germany, I have a label, I love your label’. The next day, David and I went into the studio and made what became the first Reagenz album, literally the day after we met.”

				p.
					Inevitably, that led to a phone call from Pete Namlook. “He knew David, and knew that I’d been doing events in San Francisco, where I was bringing over the best ambient and techno artists,” Sharp says. “Pete called me up and said: ‘why haven’t you called me?’ He offered to pay his way to come over and play. He arrived with his synth. I felt honoured. His FAX label was just emerging at the time, and what he did at one of our shows in San Francisco ended up being released as an album.”

				.section-title
					h1  AMBIENT HOUSE. WHAT? WASN’T THAT LAST MONTH?

				p.
					1994 proved to be the high point of ambient, both commercially and artistically. Chill-out rooms were already being phased out, and as the 1990s progressed were ditched altogether.

				p.
					“I definitely noticed things change,” Jonah Sharp sighs. "Having been a very busy DJ throughout the '90s as 'the chill out room guy', the chill out room definitely turned into either the drum and bass room, or the slower house music room, or hip-hop, and latterly disco. It was another alternative dance room, and that's what people wanted. They didn't want beanbags."

				p.
					Mixmaster Morris, too, had noticed a change: “I felt things fading around 1995. I was away all summer, and when I returned to England it felt like something had changed. There was a deliberate move to stop having ambient rooms. It seemed to be due to the sheer pressure of DJs wanting to play four to the floor dance music. There was so many of them that they ended up taking over every room.”

				p.
					“Chill-out” had become tarnished as a term, partly due to the rising number of major label backed compilations filling record shop shelves. The sound’s commercial appeal was, ultimately, its’ downfall.

				p.
					"During the mid 1990s, the major labels got their act together, meaning that the smaller, independent labels that had been championing the sound didn't get any press or radio any more,” Mixmaster Morris laments. “After that point, small labels couldn't have the impact that they had in the early days. Back in the early ‘90s, the majors didn't want to deal with ambient or techno music at all, and once that changed, it was a problem for the scene. The mainstream just said 'we don't want to play with you any more'. The same happened with jungle."

				p.
					Perhaps, though, it was just that ambient house – like so many genres before and since in the fast-changing world of electronic music – had simply run its’ course. “I think like any scene, there were two years when it fired on all cylinders,” Kevin Foakes says. “That’s when all the classic releases were made, and the events were at their most vibrant. Ambient house was at its peak between ’91 and ’94. By 1993, you had Mo Wax arriving on the scene, and the beginning of the trip-hop explosion. At the same time, jungle was coming out of hardcore. By ’96 or ’97, the scene had changed again, with big beat, post-rock, superclubs, and so on.”

				p.
					Jimmy Cauty is predictably a little blunter about the demise of ambient house. “Modern chill-out was accidentally invented in the late 1980s at my house in Stockwell, and it quickly followed the well trodden route from the underground to the over-ground,” he says. “In the following couple of decades it spawned much self-indulgent, knob twiddling nonsense. Ultimately, Guru Josh was probably right: it was ‘boring’.”

				.section-title
					h1  AMBIENT HOUSE LOVES YOU, EVEN IF YOU DO NOT LOVE IT

				p.
					Perhaps the story of Ambient House is not quite finished. There has been much talk of late of an “ambient revival”. At the very least, it’s certainly bubbling away on the underground once more.

				p.
					While some of this is more experimental and academic then Cauty and Paterson’s blueprint – see the sheer volume of drone albums being released right now – you can hear the duo’s kaleidoscopic synthesizers and horizontal rhythms in releases from Hashman Deejay, Slow Riffs, AT/NU, Scientific Dreamz Of U, and many others.

				p.
					It’s there, too, in the blissful guitar textures of Jonny Nash, the sample-based weirdness of Quiet Village, and the dubbed-out, Balearic-inclined releases of Mudd’s Claremont 56 label. You’ll also struggle to find a more authentic Ambient House album than Aquarian Foundation’s brilliant Mind Miniatures on Going Good. Just like those early Orb and KLF releases, it was performed, mixed and recorded live, as one fluid performance.

				p.
					“I’d like to think that there’s a new front in ambient music,” Matt Black enthuses. “I liked Joe Muggs’ recent observation that ambient music should be played ‘fucking loud’. When you play it loud, as we used to do at events and in chill-out rooms, it sounds immense, because there’s so much space for the sounds to move into. It’s like dub – it’s got that sexiness and I love it.”




			footer
				img.footer-logo(src="images/footer-logo.svg")

				.footer-title Red Bull Music Academy Daily

				p.footer-text.
					The Red Bull Music Academy Daily is the online publication by the Red Bull Music Academy, a global music institution committed to fostering creativity in music. Just like the Academy, we think of it as a platform for the essential ideas, sounds and people that have driven – and continue to drive – our culture forward.

				.sitemap
					.cell
						.link
							a(href="http://www.redbullmusicacademy.com") Red Bull Music Academy
						.link
							a(href="http://www.redbullmusicacademy.com/about") About
						.link
							a(href="http://www.redbullmusicacademy.com/events") Events
						.link
							a(href="http://www.redbullmusicacademy.com/lectures") Lectures

					.cell
						.link
							a(href="http://daily.redbullmusicacademy.com/") RBMA Daily
						.link
							a(href="http://daily.redbullmusicacademy.com/features") Features
						.link
							a(href="http://daily.redbullmusicacademy.com/interviews") Interviews
						.link
							a(href="http://daily.redbullmusicacademy.com/nightclubbing-features") Nightclubbing
						.link
							a(href="http://daily.redbullmusicacademy.com/studio-science") Studio Science
						.link
							a(href="http://daily.redbullmusicacademy.com/videos") Videos
						.link
							a(href="http://daily.redbullmusicacademy.com/galleries") Galleries

					.cell
						.link
							a(href="http://www.rbmaradio.com/") RBMA Radio
						.link
							a(href="http://www.rbmaradio.com/categories") Interviews & Features
						.link
							a(href="http://www.rbmaradio.com/categories/live-recordings-mixes") Live Recordings & Mixes
						.link
							a(href="http://www.rbmaradio.com/categories/local-spotlights") Local Spotlights

					.footer-social
						a(href="http://www.facebook.com/RedBullMusicAcademy")
							.social-icon.facebook
						a(href="http://twitter.com/rbma")
							.social-icon.twitter
						a(href="http://www.youtube.com/user/redbullmusicacademy")
							.social-icon.youtube
						a(href="http://www.vimeo.com/redbullmusicacademy")
							.social-icon.vimeo
						a(href="http://www.redbullmusicacademy.tumblr.com/")
							.social-icon.tumblr
						a(href="http://www.soundcloud.com/redbullmusicacademy")
							.social-icon.soundcloud
						a(href="http://www.instagram.com/redbullmusicacademy")
							.social-icon.instagram

					.footer-legal
						p
							span © Red Bull 2015 |
							span 
								a(href="http://www.redbullmusicacademy.com/p/terms") Terms & Conditions |
							span
								a(href="http://www.redbull.com/en/data-privacy-policy") Privacy Policy |
							span
								a(href="http://www.redbullmusicacademy.com/p/legal-notice") Legal Notice |
							span
								a(href="http://www.redbullmusicacademy.com/p/contact-us") Contact Us |
							span
								a(href="http://www.redbullmusicacademy.com/p/newsletter") Newsletter


		script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/noframework.waypoints.min.js")
		script(src="lib/graph.js")
		script(src="js/bundle.js")

		//-GA
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-21347469-1', 'auto');
			ga('send', 'pageview');

		//-Webtrekk 1
		script.
			var edWrapperNameSpace = {};
			edWrapperNameSpace.aGTM = [
			"GTM-LVJ5",     // hq
			"GTM-7W7M",     // hq
			"GTM-HPZK",     // hq
			"GTM-WWXSFT"    // property
			];
			var edWrapper = [];

		//- Webtrekk 2
		script.
			edWrapperNameSpace.sVers = -1;
			edWrapperNameSpace.aInitialInnerWrapper = [["downloads.redbull.com/webtrekk/innereWrapper/gtm/innerWrapper_gtm.js",false]];
			edWrapperNameSpace.sWrapperSrc = ["downloads.redbull.com/webtrekk/edAnalyticsWrapper.js","downloads.redbull.com/webtrekk/confWrapper.js"];

			(function (sVarName) {
				window.edWrapperNameSpace.sEdWrapperObjectName = sVarName; window[sVarName] = window[sVarName] || [];
				var script = document.createElement('script'); script.type = 'text/javascript';script.asyn = false; 
				script.src = ('https:' == document.location.protocol ? 'https://' : 'http://')+edWrapperNameSpace.sWrapperSrc[0] + "?v=" + edWrapperNameSpace.sVers;
				var script2 = document.getElementsByTagName('script')[0]; script2.parentNode.insertBefore(script, script2);
			})("edWrapper");

		script.
			edWrapper.push( [ 'trackPageView' , false , {1:'IntMS' , 2:'IntMS - int' , 3:'IntMS - int - Red Bull Music Academy'} , true ] );
			edWrapper.push( [ 'trackPageVar' , 'Language' , 'en'] );
			edWrapper.push( [ 'trackPageVar' , 'Domain incl. Subdomain' , window.location.hostname] );
			edWrapper.push( [ 'trackPageVar' , 'Type' , 'IntMS'] );
			edWrapper.push(['submit']);